.s-flex {
    display: flex;
    align-items: center;
}

.playlist-navbar {
    background-color: #201640;
    position: sticky;
    top: 0;
}

.playlist-container {
    flex: 0.8;
    background-color: var(--light-grey);
    overflow-y: auto;
    /* background: rgb(0, 0, 0); */
}

#playlist-container {
    border-radius: 0.5rem;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 65%, rgba(29, 14, 67, 1) 100%);
    padding-bottom: 6rem;
}

.playlist-container {
    flex: 0.8;
    overflow-y: auto;
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
}

.playlist-content {
    padding: 1rem 1rem;
} 

.playlist-navbar > .link-flex > span {
    opacity: 1 !important;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td{
    text-align: left;
    padding: 0.5rem 0.8rem; 
}

.song-card { 
    cursor: pointer;
}

.song-card img{
    width: 45px;
    height: 45px;
    border-radius: 5px;
}

.song-card:hover {
    background-color: hsla(0, 0%, 100%, .1);
    border-radius: 10px;
    transition: background-color .1s ease;
}

.song-card:focus {
    background-color: hsla(0,0%,100%,.3);;
}

.mini-play-icon {
    display: none;
    transition: all .1s ease-in-out;
}

.song-card:hover #num-line{
    display: none;
}

.song-card:hover .mini-play-icon{
    display: block !important;
    color: #fff;
}

.mini-play-icon:hover {
    color: #1bd760 !important;
}

.volume-controls {
    gap: 20px;
    justify-content: flex-start;
}

.volume-controls .Img img{
    display: flex;
    width: 62px;
    border-radius: 5px;
}

.liked-song {
    color: #1bd760;
}

#main-head {
    position: sticky;
    top: 70.4px;
    background-color: #121212;
}

#main,
#tbody {
    color: #a19d98;
}

.song-name {
    color: #fff;
}

.song-card:hover .song-album-name {
    color: #fff;
}